@font-face {
    font-family: 'Hatton Bold';
    src: url('../fonts/hatton-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Hatton Bold';
    src: url('../fonts/hatton-semibold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hatton Bold';
    src: url('../fonts/hatton-regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

.blog-content {
    background-color: whitesmoke;
}

.hatton-bold {
    font-family: 'Hatton Bold', sans-serif;
    font-weight: 700;
}

.hatton-semi-bold {
    font-family: 'Hatton Bold', sans-serif;
    font-weight: 500;
}

.primary-text {
    color: #FF5757;
    font-family: 'Hatton Bold', sans-serif;
    font-weight: 500;
}

.primary-title {
    color: #FF5757;
    font-family: 'Hatton Bold', sans-serif;
    font-weight: 700;
}

.secondary-text {
    color: #0F1819;
    font-family: 'Hatton Bold', sans-serif;
    font-weight: 500;
}

.secondary-title {
    color: #0F1819;
    font-family: 'Hatton Bold', sans-serif;
    font-weight: 700;
}

.footer-text {
    color: whitesmoke;
    font-family: 'Hatton Bold', sans-serif;
    font-weight: 500;
}

.text-10 {
    font-size: 10px;
}

.text-15 {
    font-size: 15px;
}

.text-20 {
    font-size: 20px;
}

.text-25 {
    font-size: 25px;
}

.text-30 {
    font-size: 30px;
}
.text-40 {
    font-size: 40px;
}
.text-50 {
    font-size: 50px;
}
.text-60 {
    font-size: 60px;
}

iframe {
    border: none;
}
